{% extends 'bootstrap/base.html' %}

{% block styles %}

{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}


{% block title %}Coffee and Wifi{% endblock %}


{% block content %}
<div class="jumbotron text-center">
    <div class="container">
  <h1 class="display-4">☕️ Welcome !  ☕️ </h1>
  <p class="lead">Would you like to find coffee shop with internet access?</p>
  <hr class="my-4">
  <p>Check out this!</p>
  <a class="btn btn-warning btn-lg" href="{{ url_for('cafes') }}" role="button">Show Me!</a>
</div>
    </div>

{% endblock %}
